* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: #68b0ab;
}

h1 {
  font-size: 4rem;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  border-radius: 8px;
  background-color: #c8d5b9;
  flex-grow: 1;
  width: 250px;
  height: 400px;
}

.article-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #8fc0a9;
  margin: 5%;
  border-radius: 8px;
}

.article-title {
  background-color: #c8d5b9;
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  width: 100%;
  padding: 15px;
}

.article-published-date {
  font-size: 14px;
  background-color: #c8d5b9;
  font-weight: 300;
  width: 100%;
}

.article-img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  background-color: white;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.search {
  font-size: 3rem;
  width: 100%;
  padding: 0 16px;
  background-color: transparent;
  outline: none;
  color: white;
}

.search-form {
  display: flex;
  background-color: darkgray;
  outline: none;
  align-items: center;
  height: 5rem;
  padding: 5px;
  border-radius: 8px;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 40px;
  border-radius: 8px;
}

.search-wrapper input {
  border: none;
  outline: none;
}

.search-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 5px;
}

input::placeholder {
  color: lightgray;
}

.card {
  display: flex;
  justify-content: space-between;
  max-height: fit-content;
  margin: 15px;
  padding: 8px;
  border-bottom: 2px solid black;
  width: 95%;
  .card-info {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    h1 {
      margin-top: 0;
    }
    p {
      margin: 0;
    }
  }
  .card-img {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    img {
      margin: 15px;
      padding: 5px 5px 0 10px;
      max-width: 300px;
      max-height: 150px;
    }
  }
}

@media (min-width: 500px) {
  .search-form {
    width: 95%;
    height: 6rem;
    font-size: 4rem;
  }
  .card {
    .card-info {
      h3 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.5rem;
        padding: 8px;
      }
    }
  }
}

@media (min-width: 1281px) {
  h1 {
    font-size: 3rem;
  }
  .search {
    font-size: 2rem;
  }
  .search-form {
    height: 4rem;
    font-size: 2rem;
    max-width: 50%;
  }
}
